@media screen and (max-width: 375px) {
  header {
    gap: 25px;
  }
  .botao div,
  h1 {
    display: none;
  }
}

@media screen and (min-width: 376px) and (max-width: 475px) {
  .botao div,
  h1 {
    display: none;
  }
}

@media screen and (min-width: 476px) and (max-width: 800px) {
  h1 {
    display: none;
  }
  header {
    gap: 3rem;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  header {
    gap: 15px;
  }
  header h1 {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
  }
}
